# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec

# Virtual envs
.venv/
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# SQLite DBs
*.db
*.sqlite3

# Logs
*.log

# Coverage / testing
.coverage
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/

# Dist / packaging
build/
dist/
*.tar.gz
*.whl
